/* External CSS Style Sheet */

.google-logo{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.search-bar{
    /* This would position the search bar */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
}

.search-bar input[type=text]{
    /* Determines the visuals of the search bar */
    width: 561px;
    height: 44px;
    border-radius: 20px;
    font-size: 16px;
    padding: 1px 40px 1px 52px;
    padding-inline-start: 52px;
    outline: 0; /*This makes it so when you select the search bar the square box doesn't pop up */
    border: none;
    background:#fff;
    box-shadow: 0 0 3pt 2pt lightgray;

}

.searchButton{
    position: relative;
    right: 250px;
    bottom: 4px;
}
